html{box-sizing: border-box;}
*,
*::before,
*::after {
  box-sizing: inherit;}

:root{--primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --secondary-color: #FFFFFF;
    --background-color:#2F303A;
    --background-light-color:#F5F4FA;
    --link-color: rgba(255, 255, 255, 0.6);
}
body{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
font-family: 'Roboto', sans-serif;
background:var(--secondary-color);
letter-spacing: 0.03em;
font-size: 14px;

}
ul {list-style: none;}
a,ul {text-decoration: none;}

/*--------Header----------*/
.container{display: flex;
    align-items: center;
}
.logo{
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--background-color)
}
.logo-color{color: var(--accent-color);}
/*-------Flex-------*/

.container-nav{display: flex;
    align-items: center;}
.list-style-nav{display: flex;}
/*.header-item:last-child
{margin-right: 0;}*/
/*.header-item /*:not(:last-child)???????
{margin-right: 50px;}*/


.header-item.current{color: var(--accent-color);}
.header-item{
    display: block;
    margin-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color); }
.header-item:hover,.header-item:focus{
        color: var(--accent-color);
}
/*.container-auth{display: flex;}*/

.list-style-auth{display: flex;
    margin-left: auto;
}

.mail,.tel{   
    margin-right:50px;
    align-items: center;
    justify-content: space-around;
    

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color); }
.mail:hover,.mail:focus{color:var(--accent-color);}
.tel:hover,.tel:focus{color:var(--accent-color);}
/*-------------Heading------------*/
.container-heading{
    padding-top: 200px;
    padding-bottom: 200px;
}
.heading{background: var(--background-color)}
.heading{display: inline-block;
    text-align: center;
    width: 1200px;
    height: 600px;
    }
.heading-title {
display: inline-block;
text-align: center;
width: 696px;
height: 120px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;

letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--secondary-color);
}
.heading-btn {
/*margin-top: 30px;*/
margin-left: 500px;
display: inline-block;
text-align: center;
padding: 10px 32px;
min-width: 200px;
height: 50px;


cursor: pointer;
background: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color:var(--secondary-color);
} 
/*-----------Work-------------*/

.list-style-work{
    display: flex;
    margin-top: 94px;
    margin-bottom: 94px;
}
.list-style-work li:not(:last-child)
{margin-right: 30px;}
  .work h2 {
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color:var(--title-text-color);
  } 
    .work p{
    margin-top: 12px;
    line-height: 1.71;
    color:var(--primary-text-color);
  }
/*------------About----------*/
.about ul{display: flex;}
.about li:not(:last-child)
{margin-right: 30px;}
.about-title{
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color:var(--title-text-color)}
/*-------Team----------*/
.team ul{display: flex;}
.team li:not(:last-child)
{margin-right: 30px;}
.team {
margin-top: 94px;
background: var(--background-light-color);
}
.team h2{
padding-top: 94px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color:var(--title-text-color);
}
.team h3{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color:var(--title-text-color);
}
.team p{
margin-bottom: 94px;
font-size: 16px;
line-height: 19px;
text-align: center;
color:var(--primary-text-color);
}
/*-----------Footer---------*/

.logo-button{
    margin-left: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--secondary-color)
}
.logo-button-color{color: var(--accent-color);}
.address{background: var(--background-color);
    height: 252px;}
.address-item-text{
    font-style: normal;
line-height: 1.71;
color:var(--secondary-color)}
.address-mail-text{
    font-style: normal;
line-height: 1.71;
color: var(--link-color);}
.address-tel-text{
font-style: normal;
line-height: 1.71;    
color: var(--link-color);}
    /*-------------Portfolio---------*/
    .portfolio{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    /*------------Menu----------*/
.container-meny{display: block;
    text-align: center;
    border-top-style:solid;
    border-color: #757575;
}
.menu-button{display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 94px;
margin-bottom: 50px;

margin-left: auto;
}

.menu-button li:not(:last-child)
{margin-right: 30px;}
.menu-btn{  
display: inline-block; 
border-radius: 6px;
border-style: none;
padding: 6px 22px;
text-align: center;
max-width: 145px;
cursor: pointer;  

background: var(--background-light-color);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
color:var(--title-text-color);
}  
.menu-btn:hover, .menu-btn:focus{
    background: var(--accent-color);
    color: var(--secondary-color);
}
.pictures{
    padding-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100%-90px)/3);}/***не поняла куда ставить**/
.pictures li{
flex-basis: calc((100%-90px)/3);
flex-wrap: wrap;
display:inline-block;
width: 370px;
height: 404px;
margin-bottom: 30px;
/*margin-right: 30px;*/
}

.pictures li:nth-child(3n)
{margin-right: 0;}
.pictures li:nth-last-child(-n+3) 
{margin-bottom: 0;}
.pictures li:not(:nth-child(3n))
{margin-right: 30px;}
.pictures h2{
  
font-weight: 700;
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
color:var(--title-text-color);    
}
.pictures p{
font-size: 16px;
line-height: 1.88;
color:var(--primary-text-color)
}


