html{box-sizing: border-box;}
*,
*::before,
*::after {
  box-sizing: inherit;}

:root{--primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --secondary-color: #FFFFFF;
    --background-color:#2F303A;
    --background-light-color:#F5F4FA;
    --link-color: rgba(255, 255, 255, 0.6);
}
body{
font-family: 'Roboto', sans-serif;
background:var(--secondary-color);
letter-spacing: 0.03em;
font-size: 14px;

}
ul {list-style: none;
    padding: 0;
    margin: 0;}

a {
text-decoration: none;
}

/*--------Header----------*/
.container{
    display: flex;
    align-items: center;
    width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.logo{
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--background-color)
}
.logo-color{color: var(--accent-color);}
/*-------Flex-------*/

.container-nav{
    display: flex;
    align-items: center;
    }
.list-style-nav{display: flex;
padding: 0;
margin: 0;}



.header-item.current{color: var(--accent-color);}
.header-item{
    display: block;
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--title-text-color); }
.header-item:hover,.header-item:focus{
        color: var(--accent-color);
}
/*.container-auth{display: flex;}*/

.list-style-auth{display: flex;
    margin-left: auto;
}
.mail, .tel:not(:last-child)
    {margin-right: 50px;}

.mail,.tel{   
    /*margin-right:50px;*/
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color); }
.mail:hover,.mail:focus{color:var(--accent-color);}
.tel:hover,.tel:focus{color:var(--accent-color);}
/*-------------Heading------------*/
.flex{display: block;
    }
.heading{background: var(--background-color)}
.heading{
display: flex;
align-items: center;
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
    }
.heading-title {
display: inline-block;
text-align: center;
width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
padding: 0;                           /*-----для всех заголовках и p----*/
margin: 0;

letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--secondary-color);
}

.heading-btn {
margin-top: 30px;
display: inline-block;
text-align: center;
padding: 10px 32px;
min-width: 200px;
height: 50px;
border-style: none;
border-radius: 6px;

cursor: pointer;
background: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color:var(--secondary-color);
} 
/*-----------Work-------------*/

.list-style-work{
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-style-work li:not(:last-child)
{margin-right: 30px;}
  .work h2 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color:var(--title-text-color);
  } 
    .work p{
    margin: 0;
    padding: 0;
    margin-top: 12px;
    Width:270px;
    line-height: 1.71;
    color:var(--primary-text-color);
  }
/*------------About----------*/
.about{padding-top: 0;}
.about ul{
margin-top: 50px;
display: flex;
max-width: 100%;
height: auto;}
.about li:not(:last-child)
{margin-right: 30px;}
.about-title{
margin: 0;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color:var(--title-text-color)}
.list-style img{display: block;
max-width: 100%;
height: auto;}
/*-------Team----------*/
.team ul{display:flex;}
.team li:not(:last-child)
{margin-right: 30px;}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
background: var(--background-light-color);
}
.team h2{
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color:var(--title-text-color);
}
.team h3{
    margin: 0;
    padding: 0;
margin-top: 30px;
margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color:var(--title-text-color);
}
.team p{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
font-size: 16px;
line-height: 19px;
text-align: center;
color:var(--primary-text-color);
}

.card-name{background-color: var(--secondary-color);
    border-radius: 0px;}
.card-name img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*-----------Footer---------*/
.logo-button{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color:var(--secondary-color)
}
.logo-button-color{color: var(--accent-color);}
.address{background: var(--background-color);
padding-top: 60px;
padding-bottom: 60px;
}
.address-item-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color:var(--secondary-color)}
.address-mail-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: var(--link-color);}
.address-tel-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;    
color: var(--link-color);}
.address-item, .address-mail{
    margin-bottom: 9px;
} 
.address-item{margin-top: 20px;}

    /*-------------Portfolio---------*/
    /*.portfolio{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    /*------------Menu----------*/
/*.container
{ border-bottom-style:outset;
border-width: 1px;
border-color: #ECECEC;}*/

/*.container-meny{
    text-align: center;*/
.portfolio header{border: 1px solid #ECECEC;}    
   .menu{
    padding-top: 94px;
    padding-bottom: 94px;
   }
  /* .flex-menu{display: inline-block;
text-align: center;
align-items: center;
flex-direction:column;}*/

.menu-button{
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.menu-button li:not(:last-child)
{margin-right: 8px;}
.menu-btn{  
display: inline-block; 
border-radius: 6px;
border-style: none;
padding: 6px 22px;
text-align: center;
max-width: 145px;
cursor: pointer;  

background: var(--background-light-color);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
color:var(--title-text-color);
}  
.menu-btn:hover, .menu-btn:focus{
    background: var(--accent-color);
    color: var(--secondary-color);
}

.card{
padding: 20px 24px 20px 24px;
background-color: var(--secondary-color);
border-left:1px  solid;
border-right:1px solid ;
border-top:1px solid ;
border-bottom:1px solid ;
border: #EEEEEE;

    }
    
    .flex-container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
   }

.flex-container h2{
margin: 0;
font-weight: 700;
font-size: 18px;
line-height:2;
letter-spacing: 0.06em;
color:var(--title-text-color);    
}
.flex-container p{
margin: 0;
margin-top: 4px;
font-size: 16px;
line-height: 1.88;
color:var(--primary-text-color)
}

.flex-element{
flex-basis: calc(100% / 3 - 60px);
margin-right: 30px;
margin-bottom: 30px;}
.flex-element:nth-child(3n){margin-right: 0;}
.flex-element:nth-last-child(-n+3){margin-bottom: 0;}